@import 'Variables.scss';

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo {
  position: relative !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 3% !important;
  height: 100px !important;
}

.intro-heading {
  position: relative !important;
  width: 1000px !important;
  margin-top: 0 !important;
  font-size: 55px !important;
  top: 250px !important;
  text-align: left;
}

.intro {
  position: relative !important;
  width: 1000px !important;
  color: black !important;
  font-size: 30px;
  top: 220px !important;
  text-align: left;
}

.button-container {
  position: relative !important;
  width: 90% !important;
  top: 10vh !important;
  margin: 0 !important;
  padding-left: 0 !important;
  text-align: left;
}

.header1 {
  font-size: 20px !important;
  color: white !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  font-size: 30px !important;
  margin-top: 27% !important;
}

.header2 {
  font-size: 20px !important;
  color: white !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  font-size: 30px !important;
  margin-top: 10% !important;
}

.authors {
  font-size: 20px !important;
  color: white !important;
  padding-left: 0 !important;
  text-align: center !important;
  padding-bottom: 50px !important;
  font-size: 30px !important;
}

.name {
  font-size: 20px !important;
  color: black !important;
  padding-right: 0px !important;
}

.linkedin {
  padding: 0 !important;
  position: 0 !important
}

.github {
  padding: 0px !important;
  padding-right: 5px !important;
  background-color: transparent !important;
}

.button1 {
  position: absolute !important;
  right: 20% !important;
  background-color: white !important;
  color: black !important;
  width: 90px !important;
  text-transform: none !important;
}

.button2 {
  position: absolute !important;
  right: 13% !important;
  background-color: white !important;
  color: black !important;
  width: 90px !important;
  text-transform: none !important;
}

.button3 {
  position: absolute !important;
  right: 6% !important;
  background-color: white !important;
  color: black !important;
  width: 90px !important;
  text-transform: none !important;
}

.navBar {
  background-color: rgba(255,255,255,0.5) !important;
}

.gif-container {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

.start-container {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

.start1 {
  padding-left: 0 !important;
  text-align: left !important;
  margin-top: 3% !important;
  margin-bottom: 0 !important;
  font-size: 28px !important;
  color: black !important;
}

.start2 {
  padding-left: 0 !important;
  margin-top: 0 !important;
  text-align: left !important;
  margin-bottom: 0 !important;
  font-size: 28px !important;
  color: black !important;
}

.gif {
  width: 900px !important;
  border-radius: 1vw;
  box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.2);
}

.feature1 {
text-align: left !important;
width: 1000px !important;
font-size: 28px !important;
color: black !important;
}

.feature2 {
  text-align: left !important;
  width: 1000px !important;
  margin-top: 10% !important;
font-size: 28px !important;
color: black !important;
}

.team-container{
  margin-top: 20% !important;
  margin-bottom: 10% !important;
}

.team-box{
  margin-left: 45px !important;
}

.team-photo{
  border-radius: 50% !important;
}

.team-icon{
  margin-left: 26% !important;
}

#back {
  background: $gradient;
  background-size: $gradSize;
  animation: $gradAnimation;
  min-height: 250vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.welcome-container {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
  flex-direction: column !important;
}

.hyperlink {
  color: rgb(14, 0, 169) !important;
}